.nav-item {
  display: block;
  margin-top: 0;
  padding-top: 8px;
  z-index: 1;
}

.navbar-social {
  margin-left: 10px;
  display: inline-block;
}

.navbar-social a {
  color: white !important
  transition: 0.3s;
}

.navbar-social a:hover{
  color: #696969 !important;
}

.navbar-text {
  padding-top: 0;
  color: white !important;
}

.facebook-widget {
  display: inline-block;
}

@media (min-width: 762px) {
  .facebook-widget {
    width: 33%;
  }
}

@media (max-width: 761px) {
  .facebook-widget {
    width: 80%;
  }
  #vision-services-events {
    padding-top: 240px;
  }
  .first {
    height: 480px;
  }
}

.btn {
  border-radius: 0 !important;
  text-transform: uppercase;
}

.btn-primary:hover{
  background-color: #696969 !important;
    border-color: #696969 !important;
    outline: 0;
}

.leer-mas-btn {
  margin-top: 20px;
  background-color: #1dc6df;
  border-color: #1dc6df;
  color: white !important;
}

#saber_mas {
  margin-top: 20px;
  background-color: white;
  border-color: white;
  color: #1dc6df;
}

.navbar {
  font-size: 1.15em;
}

.navbar-brand {
  font-size: 1.4em;
}

.nav-link {
  color: white !important;
}

.nav-item a:hover {
  color: #696969 !important;
}

.banner-logo-wrap {
  margin: auto;
  text-align: center;
  height: 80%;
  z-index: 10;
  opacity: 1.0 !important;
}

.banner-logo {
  margin: auto;
  height: 100%;
  opacity: 1.0 !important;
}

.home-banner {
  background-image: url("/images/menu/alternate-home-test.jpg");
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 300px;
}

.banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.banner-text h1 {
  color: white !important;
  border: 2px solid white;
  border-bottom: none;
  border-top: none;
  margin: 20px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 2.7em !important;
  text-transform: uppercase;
}

.banner-text p {
  padding-top: 20px;
  font-size: 1.4em !important;
}

.hp1_welcome_section {
  height: 680px !important;
  padding-top: 60px !important;
}

.page_content_wrap {
  padding-top: 40px !important;
}

.hp2_info_section {
  padding-top: 0;
}
